@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.BolaoViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";

    ViewBag.Title = "Bolões";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadBolao";
    ViewBag.ControllerNameUsuarioBolao = "CadUsuarioBolao";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Bolao.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NameSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Campeonato", "Index", new { ordenacao = ViewBag.ChampionshipSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "campeonato" })
    </th>
    <th>Ação</th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;">
            @Html.Label("ddl_campeonato", "Campeonato", new { @class = "control-label" })
            @Html.DropDownList("ddl_campeonato", new SelectList(ViewBag.Campeonato, "Id", "Nome"), new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-md-2">
                @Html.Label("lbl_privado", "Privado?", new { @class = "control-label" })
                @Html.CheckBox("chk_privado", false, new { @id = "chk_privado", @class = "form-control", @onchange = "visibilidadeSenha();" })
            </div>
        </div>
        <div class="col">
            <div class="col-md-4">
                @Html.Label("lbl_AlterarPontuacao", "Alterar pontuações?", new { @class = "control-label" })
                @Html.CheckBox("chk_alterarPontuacao", false, new { @id = "chk_alterarPontuacao", @class = "form-control", @onchange = "visibilidadePontuacao();" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("lbl_senha", "Senha", new { @id = "lbl_senha", @class = "control-label", @style = "display: none" })
            @Html.Password("txt_senha", null, new { @class = "form-control", @style = "display: none" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("lbl_placarExato", "Placar Exato", new { @id = "lbl_placarExato", @class = "control-label", @style = "display: none" })
            @Html.TextBox("txt_placarExato", 5, new { @class = "form-control", @type = "number", @min = 0, @style = "display: none" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("lbl_acertarVencedor", "Acertar o vencedor", new { @id = "lbl_acertarVencedor", @class = "control-label", @style = "display: none" })
            @Html.TextBox("txt_acertarVencedor", 3, new { @class = "form-control", @type = "number", @min = 0, @style = "display: none" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("lbl_golsTimes", "Acertar Gols de um dos Times", new { @id = "lbl_golsTimes", @class = "control-label", @style = "display: none" })
            @Html.TextBox("txt_golsTimes", 1, new { @class = "form-control", @type = "number", @min = 0, @style = "display: none" })
        </div>
    </div>
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ NomeCampeonato }}</td>
            <td>
                <a class="btn btn-success btn-participar" role="button" id="btn-participar"><i class="glyphicon glyphicon-plus"></i> Participar</a>
            </td>
        </tr>
    </script>
    <script>
        function visibilidadeSenha() {
            if ($('#chk_privado').is(':checked')) {
                $('#lbl_senha').show();
                $('#txt_senha').show();
            }
            else {
                $('#lbl_senha').hide();
                $('#txt_senha').hide();
            }
        }
        function visibilidadePontuacao() {
            if ($('#chk_alterarPontuacao').is(':checked')) {
                $('#lbl_placarExato').show();
                $('#txt_placarExato').show();

                $('#lbl_acertarVencedor').show();
                $('#txt_acertarVencedor').show();

                $('#lbl_golsTimes').show();
                $('#txt_golsTimes').show();
            }
            else {
                $('#lbl_placarExato').hide();
                $('#txt_placarExato').hide();

                $('#lbl_acertarVencedor').hide();
                $('#txt_acertarVencedor').hide();

                $('#lbl_golsTimes').hide();
                $('#txt_golsTimes').hide();
            }
        }
        var tituloPagina = '@ViewBag.Title';
        var urlSalvar = '@Url.Action("SalvarBolao", ViewBag.ControllerName)';
        var url_participar = '@Url.Action("SalvarUsuarioBolao", ViewBag.ControllerNameUsuarioBolao)'
    </script>
    <script src="~/Scripts/Cadastro/Bolao.js"></script>
}