
@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.BolaoViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";

    ViewBag.Title = "Bolões";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadBolao";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Bolao.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NameSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Campeonato", "Index", new { ordenacao = ViewBag.ChampionshipSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "campeonato" })
    </th>
    <th>Ação</th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("ddl_campeonato", "Campeonato", new { @class = "control-label" })
            @Html.DropDownList("ddl_campeonato", new SelectList(ViewBag.Campeonato, "Id", "Nome"), new { @class = "form-control" })
        </div>
    </div>
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ NomeCampeonato }}</td>
            <td>
                <a class="btn btn-success btn-alterar" role="button"><i class="glyphicon glyphicon-plus"></i> Participar</a>
            </td>
        </tr>
    </script>
}