
@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.BolaoViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_CadastroSemIncluir.cshtml";

    ViewBag.Title = "Bolões";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadBolao";
    ViewBag.ActionName = "MeusBoloes";
}

@section Styles {
    <link href="~/Content/Cadastro/Bolao.css" rel="stylesheet" />
}

@section FiltroTamanhoPagina {
    @using (Html.BeginForm(ViewBag.ActionName as string, ViewBag.ControllerName as string, FormMethod.Get, new { @name = "FormTamPag" }))
    {
        @Html.DropDownList("ddl_tam_pag", (SelectList)ViewBag.ListaTamPag, new { @class = "selectpicker", @onchange = "tamanhoPaginaChanged()" })
        @Html.Hidden("tamanhoPagina", ViewBag.CurrentPageSize as string, new { @id = "hiddenTamanhoPagina" });
        @Html.Hidden("ordenacao", ViewBag.CurrentSort as string);
        @Html.Hidden("filtro", ViewBag.CurrentFilter as string);
    }
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Nome", "MeusBoloes", new { ordenacao = ViewBag.NameSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Campeonato", "MeusBoloes", new { ordenacao = ViewBag.ChampionshipSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "campeonato" })
    </th>
    <th>Ação</th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MeusBoloes", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ NomeCampeonato }}</td>
            <td>
                <a class="btn btn-success btn-entrar" id="btn_entrar" role="button"><i class="glyphicon glyphicon-plus"></i> Entrar</a>
            </td>
        </tr>
    </script>

    <script>
        var urlPalpite = '@Url.Action("Index", "Palpite")';
    </script>
}