
@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.PartidaViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_CadastroSemIncluir.cshtml";

    ViewBag.Title = "Partidas";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadPartida";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Partida.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Data", "Index", new { ordenacao = ViewBag.DateSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "data" })
    </th>
    <th style="width: 110px;">
        @Html.ActionLink("Time Casa", "Index", new { ordenacao = ViewBag.HomeTeamSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "timeCasa" })
    </th>
    <th style="width: 120px;">
        @Html.ActionLink("Placar Casa", "Index", new { ordenacao = ViewBag.HomeScoreSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "placarTimeCasa" })
    </th>
    <th style="width: 120px;">
        @Html.ActionLink("Placar Fora", "Index", new { ordenacao = ViewBag.AwayScoreSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "placarTimeFora" })
    </th>
    <th style="width: 110px;">
        @Html.ActionLink("Time Fora", "Index", new { ordenacao = ViewBag.AwayTeamSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "timeFora" })
    </th>
    <th>
        @Html.ActionLink("Campeonato", "Index", new { ordenacao = ViewBag.ChampionshipSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "campeonato" })
    </th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ DataFormatada }}</td>
            <td>{{ NomeTimeCasa }}</td>
            <td>{{ PlacarTimeCasa }}</td>
            <td>{{ PlacarTimeFora }}</td>
            <td>{{ NomeTimeFora }}</td>
            <td>{{ NomeCampeonato }}</td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/Partida.js"></script>
}