@model List<GerenciadorPalpites.Web.Models.TimeViewModel>
@{
    Layout = "~/Views/Shared/_CadastroSemIncluir.cshtml";
    ViewBag.Title = "Cadastro de Times";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Time.css" rel="stylesheet" />
    <style>
        .dialogo > .modal-dialog {
            width: 700px !important;
        }

        .modal-body {
            height: 550px;
            overflow-y: scroll;
        }
    </style>
}

@section TituloGrid {
    <th><span class="coluna-ordenacao" data-campo="nome">Nome</span></th>
    <th><span class="coluna-ordenacao" data-campo="idPais">País</span></th>
    <th><span class="coluna-ordenacao" data-campo="ativo">Ativo</span></th>
    <th>Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            @Html.Label("ddl_pais", "País", new { @class = "control-label" })
            @Html.DropDownList("ddl_pais", new SelectList(ViewBag.Paises, "Id", "Nome"), new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            @Html.Label("ddl_estado", "Estado", new { @class = "control-label" })
            @Html.DropDownList("ddl_estado", new SelectList(""), new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            @Html.Label("ddl_cidade", "Cidade", new { @class = "control-label" })
            @Html.DropDownList("ddl_cidade", new SelectList(""), new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-check">
                @Html.CheckBox("cbx_ativo", new { @class = "form-check-input" })
                @Html.Label("cbx_ativo", "Ativo", new { @class = "form-check-label" })
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirTime", "CadTime")';
        var url_confirmar = '@Url.Action("SalvarTime", "CadTime")';
        var url_page_click = '@Url.Action("TimePagina", "CadTime")';
        var url_tam_pag_change = '@Url.Action("TimePagina", "CadTime")';
        var url_filtro_change = '@Url.Action("TimePagina", "CadTime")';
        var url_alterar = '@Url.Action("RecuperarTime", "CadTime")';
        var url_listar_estados = '@Url.Action("RecuperarEstadosDoPais", "CadEstado")';
        var url_listar_cidades = '@Url.Action("RecuperarCidadesDoEstado", "CadCidade")';
        var linhas = [];

        @{
            var linha = 0;
            foreach (var item in Model)
            {
                linha++;
                if (linha <= ViewBag.QuantMaxLinhasPorPagina)
                {
                    @:linhas.push(@Html.Raw(Json.Encode(item)));
                }
                else
                {
                    break;
                }
            }
        }
    </script>
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ País }}</td>
            <td>{{ #Ativo }}Sim{{ /Ativo }}{{ ^Ativo }}Não{{ /Ativo }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-success"><i class="glyphicon glyphicon-transfer"></i> Comparar</button>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/Time.js"></script>
}