@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lista = ViewBag.Lista;
    var titulo = ViewBag.Title;

    ViewBag.Title = "Cadastro de " + ViewBag.Title;
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Cadastro/BaseCadastro.css" rel="stylesheet" />

@RenderSection("Styles", true)
@RenderBody()

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm(ViewBag.ActionName as string, ViewBag.ControllerName as string, FormMethod.Get, new { @name = "FormTamPag" }))
                        {
                            @Html.DropDownList("ddl_tam_pag", (SelectList)ViewBag.ListaTamPag, new { @class = "selectpicker", @onchange = "tamanhoPaginaChanged()" })
                            @Html.Hidden("tamanhoPagina", ViewBag.CurrentPageSize as string, new { @id = "hiddenTamanhoPagina" });
                            @Html.Hidden("ordenacao", ViewBag.CurrentSort as string);
                            @Html.Hidden("filtro", ViewBag.CurrentFilter as string);
                        }
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm(ViewBag.ActionName as string, ViewBag.ControllerName as string, FormMethod.Get))
                        {
                            @Html.Hidden("tamanhoPagina", ViewBag.CurrentPageSize as string);
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextBox("termoPesquisa", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "width: 250px;", placeholder = "Informe um filtro..." })
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover @Html.Raw(lista == null || lista.Count == 0 ? "invisivel" : "")">
                    <thead>
                        <tr>
                            @RenderSection("TituloGrid", true)
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="mensagem_grid" @Html.Raw(lista != null && lista.Count > 0 ? "class=\"invisivel\"" : "")>
                    Nenhum registro em @titulo
                </div>
            </div>
        </div>
        @RenderSection("Paginacao", true)
    </section>
</div>
@Html.Hidden("id_cadastro")
<div id="modal_cadastro" class="invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    <fieldset>
        @Html.AntiForgeryToken()
        @RenderSection("CamposCadastro", true)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
                        <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
                    </div>
                    <div id="msg_aviso" class="alert alert-warning invisivel">Falta preencher os campos acima.</div>
                    <div id="msg_erro" class="alert alert-danger invisible">Ops! Deu ruim!</div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts{
    <script src="~/Scripts/mustache.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/Cadastro/BaseCadastro.js"></script>
    @RenderSection("Scripts", true)

    <script>
        var linhas = [];
        @{
            foreach (var item in Model)
            {
                @:linhas.push(@Html.Raw(Json.Encode(item)));
            }
        }
    </script>
}