
@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.CampeonatoViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_CadastroSemIncluir.cshtml";

    ViewBag.Title = "Campeonato";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadCampeonato";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Campeonato.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NameSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Esporte", "Index", new { ordenacao = ViewBag.SportSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "esporte" })
    </th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ NomeEsporte }}</td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/Campeonato.js"></script>
}