@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.ClassificacaoViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Classificacao.cshtml";
    ViewBag.Title = "Classificação";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "Classificacao";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Classificacao.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Posição", "Index", new { ordenacao = ViewBag.PosicaoSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "posicao" })
    </th>
    <th>
        @Html.ActionLink("Variação", "Index", new { ordenacao = ViewBag.VariacaoSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "variacao" })
    </th>
    <th>
        @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NameSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Total", "Index", new { ordenacao = ViewBag.TotalSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "total" })
    </th>
    <th>
        @Html.ActionLink("PE", "Index", new { ordenacao = ViewBag.PCSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "placarCheio", title = "Acertou placar exato" })
    </th>
    <th>
        @Html.ActionLink("PV", "Index", new { ordenacao = ViewBag.PVSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "placarVencedor", title = "Acertou placar vencedor" })
    </th>
    <th>
        @Html.ActionLink("PP", "Index", new { ordenacao = ViewBag.PPSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "placarPerdedor", title = "Acertou placar perdedor" })
    </th>
    <th>
        @Html.ActionLink("AV", "Index", new { ordenacao = ViewBag.AVSortParam, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "acertouVencedor", title = "Acertou vencedor" })
    </th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Posicao }}</td>
            <td>{{ Variacao }}</td>
            <td>{{ NomeUsuario }}</td>
            <td>{{ Total }}</td>
            <td>{{ PlacarCheio }}</td>
            <td>{{ PlacarVencedor }}</td>
            <td>{{ PlacarPerdedor }}</td>
            <td>{{ AcertouVencedor }}</td>
        </tr>
    </script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var urlPalpites = '@Url.Action("Index", "Palpite", new { idBolao = ViewBag.IdBolao })';
    </script>
}