
@model PagedList.IPagedList<GerenciadorPalpites.Web.Models.UsuarioViewModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_CadastroSemIncluir.cshtml";

    ViewBag.Title = "Usuários";
    ViewBag.Lista = Model;
    ViewBag.ControllerName = "CadUsuario";
    ViewBag.ActionName = "Index";
}

@section Styles {
    <link href="~/Content/Cadastro/Usuario.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>
        @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NameSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "nome" })
    </th>
    <th>
        @Html.ActionLink("Login", "Index", new { ordenacao = ViewBag.LoginSortParam, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }, new { @class = "coluna-grid", data_column_sort = "login" })
    </th>
    <th>Ação</th>
}

@section Paginacao {
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordenacao = ViewBag.CurrentSort, filtro = ViewBag.CurrentFilter, tamanhoPagina = ViewBag.CurrentPageSize }))
}

@section Scripts{
    <script id="template-grid-alterar" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ Login }}</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>
}
